* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background: url(assets/im.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion {
    width: 65%;
    background-color: #fff;
    padding: 30px;
    border-radius: 30px;
}

.accordion .accordion-title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 28px;
}

.accordion .content-container {
    margin-bottom: 15px;
}

.accordion .content-container .question {
    padding: 18px 0px;
    font-size: 22px;
    cursor: pointer;
    border-bottom: 1px solid #000;
    position: relative;
}

.accordion .content-container .question::after {
    content: '+';
    position: absolute;
    right: 0;
    font-size: 24px;
}

.accordion .content-container.active .question::after {
    content: '-';
}

.accordion .content-container .answer {
    padding-top: 15px;
    font-size: 20px;
    line-height: 1.5;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.accordion .content-container.active .answer {
    max-height: 500px; /* or auto with JS height toggle */
}
.accordion .content-container.active .answer {
    height:150px;

}
.accordion .content-container.active .question {
    font-size: 18px;
    transition:.5s;
}
.accordion .content-container.active .question::after {
    content: '-';
    font-size: 30px;
    transition:.5s;
}